/* Reuse */

body{
    background-color: #ED2939;
}
.card{
    width: 70%;
    padding: 1rem;
    box-sizing: border-box;
    margin: 3% auto;
    color: white;
    background-color: black;
    box-shadow: 1px 1px 10px 5px  rgba(109, 56, 56, 0.705);
    /*box-shadow: rgb(36, 32, 32) 0px 4px 16px;*/
}
.header{ 
    font-size: 3em;
    font-family: poppins;
}

.image-div{
    width: 45%;
    background: url("../assets/asta.jpg") no-repeat center/cover; /* url repeat position/size */
}
/* Customize */
#info_card{
    padding: 0;
    display: flex;
}

#info_card .header{
    margin-top: 5%;
    line-height: 1.3em;  
}

pre{
    font-family: rubik;
}
button{
    background-color: #ED2939;
    border: none;
    color: white;
    padding: 0.5em;
    font-size: large;
    font-family: poppins;
}
.image-div>img{
    max-width: 100%;
    object-fit: contain;

    /*border: 10px solid #17202a;*/
}
#info_card{
    display: flex;
    justify-content: space-between;
}
#info{
    padding: 0% 0% 2% 2%;
}


#skill_card .header,#projects_card .header{
    font-weight: normal;
    line-height: 0.1em;
}

/*#skills{
    margin-top: 3%;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3,minmax(32px,1fr));
    grid-template-columns: repeat(auto,minmax(32px,1fr));
    align-content: space-evenly;
    justify-content: space-evenly;
}*/

#skills{
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 1rem;
}

#skills img{
    width: 100%;
}
#skills p{
    text-align: center;
    font-family: SUSE;
}
