/* Reuse */

body{
    background-color: #ED2939;
}
.card{
    width: 70%;
    margin: 3% auto;
    color: white;
    background-color: black;
    box-shadow: 1px 1px 10px 5px  rgba(109, 56, 56, 0.705);
    /*box-shadow: rgb(36, 32, 32) 0px 4px 16px;*/
}
.header{ 
    font-size: 3em;
    font-family: poppins;
}
.image-div{
    display: contents;
}

/* Customize */

#info_card .header{
    margin-top: 5%;
    line-height: 1.3em;  
}

pre{
    font-family: rubik;
}
button{
    background-color: #ED2939;
    border: none;
    color: white;
    padding: 0.5em;
    font-size: large;
    font-family: poppins;
}
.image-div>img{
    width: 35%;
    /*border: 10px solid #17202a;*/
}
#info_card{
    display: flex;
    justify-content: space-between;
}
#info{
    padding: 0% 0% 2% 2%;
}

#skill_card{
    padding: 1rem;
}
#skill_card .header{
    font-weight: normal;
    line-height: 0.1em;
}
#skills{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}  
#skills img{
    width: 20%;
}
