body{
    background-color: #FF6F61;
}
img{
    width: 20%;
    border-radius: 50%;
    border: 10px solid blueviolet;
}
.image{
    display: contents;
}
.card{
    width: 70%;
    margin: 3% auto;
    padding: 2%;
    color: white;
    line-height: 1;
    background-color: #2e3440;
    border-radius: 10px;
    transition: all 0.4s;
    box-shadow: 1px 1px 10px 5px  rgba(109, 56, 56, 0.705);
    /*box-shadow: rgb(36, 32, 32) 0px 4px 16px;*/
    display: flex;
    justify-content: space-between;
}

.header{
    margin-top: -.5%;
    font-size: 3em;
    font-family: poppins;
}
pre{
    font-family: rubik;
}
button{
    background-color: #FF6F61;
    border: none;
    color: white;
    padding: 1%;
    font-size: large;
    font-family: poppins;
}