@tailwind base;
@tailwind components;
@tailwind utilities;

//Protest Strike, Nunito, Space Grotesk, Pacifico (fonts)
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Protest+Strike&family=Space+Grotesk:wght@300..700&display=swap'); 


body{
    background-color: #ED2939;
}
label{
    margin-top: 0.5em;
}
button{
    background-color: #ED2939;
    border: none;
    color: white;
    padding: 0.5em;
    font-size: large;
    font-family: poppins;
}
.card{
    width: 75%;
    border-radius: 0;
    padding: 1rem;
    box-sizing: border-box;
    margin: 3% auto;
    color: white;
    background-color: black;
    box-shadow: 1px 1px 10px 5px  rgba(109, 56, 56, 0.705);
    &-intro{
        @extend .card;
        padding: 0;
    }
}

.header{
    font-size: 3em;
    font-family: poppins;
    font-weight: normal;
    &-intro{
        @extend .header;
        line-height: 1.3em;
        line-height-step: 2.3em;
    } 
}
#profile-img{
    width: 45%;
    background: url("/public/asta.jpg") no-repeat center/cover; /* url repeat position/size */
    img{
        max-width: 100%;
        object-fit: contain;
    }
}
#intro{
    padding: 2%;
    pre{
        font-family: rubik;
    }
    
}
.skill_div{
    @apply flex flex-wrap justify-center items-center gap-4;
    margin-top: 3%;
    
    p{
        text-align: center;
        font-family: SUSE;
    }
}

.projects_card{
    h3{
        @extend .header;
        @apply text-lime-300;
        font-size: 2em;
        font-family: "Space Grotesk";
    }
    p{
        font-family: Nunito;
    }
}
.contact_card{
    img{
        width: 50%;
    }
}