@tailwind base;
@tailwind components;
@tailwind utilities;

//Protest Strike, Nunito, Space Grotesk, Pacifico (fonts)
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Protest+Strike&family=Space+Grotesk:wght@300..700&display=swap'); 
//Tilt Prism, Freeman & Open Sans
@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tilt+Prism&display=swap');
$body_color: #ED2939;

* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

body{
    background-color: $body_color;
}
.navBar{
    @apply w-screen p-4 min-h-[8%] lg:h-[10%] flex flex-col xl:flex-row justify-around items-center gap-x-[62%] bg-black fixed top-0 left-0 right-0 z-50 shadow-[0_2px_rgba(237,41,57,1)];
    h1{
        @apply font-['Tilt_Prism'] text-3xl;
    }
    ul{
        @apply mt-4 lg:mt-0 font-['Open_Sans'] hidden md:flex justify-evenly items-center gap-10 sm:gap-36 lg:gap-8 cursor-pointer;
        li{
            @apply text-white border-b-2 border-b-transparent hover:border-b-red-600;
        }
    }
    
}

footer{
    @apply flex flex-col md:flex-row gap-12 bg-black w-full p-6 mt-[8%] justify-between items-center;
    h1{
        @apply font-['Tilt_Prism'] text-4xl;
    }
    h2{
        @apply font-['Freeman'];
    }
    p{
        @apply font-['Open_Sans'] text-xs text-white/65 font-thin;
    }
}
label{
    margin-top: 0.5em;
}
button{
    background-color: $body_color;
    color: white;
    padding: 0.5em;
    font-size: large;
    font-family: poppins;
}
img{
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.card{
    width: 75%;
    border-radius: 0;
    padding: 1rem;
    box-sizing: border-box;
    margin: 3% auto;
    color: white;
    background-color: black;
    box-shadow: 1px 1px 10px 5px  rgba(109, 56, 56, 0.705);
    &-intro{
        @extend .card;
        padding: 0;
        @apply mt-[20%] md:mt-[10%] lg:mt-[5%];
    }
    @apply w-[85%] sm:w-[75%];
    
}

.header{
    font-size: 3em;
    font-family: poppins;
    font-weight: normal;
    &-intro{
        @extend .header;
    }
}

#intro{
    @apply p-[5%] md:w-[60%] lg:w-[60%] lg:p-5 flex flex-col justify-between items-baseline;// border-4 border-red-500;
    p{
        line-height-step: 2.3em;
        @apply leading-[1.2em] lg:leading-[1.8em];
        font-family: rubik;
    }
}

.profile-img{
    @apply flex justify-center mt-[-18%] w-[60%] md:mt-[-50%] md:mr-[-5%] lg:m-0 lg:w-[32%];
}

.skill_div{
    @apply flex flex-wrap justify-center items-center gap-4;
    margin-top: 3%;
    
    p{
        text-align: center;
        font-family: SUSE;
    }
}

.projects_card{
    h3{
        @extend .header;
        @apply text-lime-300;
        font-size: 2em;
        font-family: "Space Grotesk";
    }
    p{
        font-family: Nunito;
    }
}
.contact_form{
    img{
        width: 50%;
    }
}
.contact_card_form{
    label{
        input{
            border-radius: 0;
        }
        span{
            font-family: 'Courier New', Courier, monospace;
        }
    }
    label:last-of-type{
        input{
            height: 100px;
        }
        button{
            img{
                width: 20%;
            }
        }
    }
    @media screen and (min-width: 600px){
        &{
            margin: auto;
            input{
                width: 100%;
            }
        }
    }
}

.contact_card_body{
    background: url("/public/wallpaper1.jpeg") no-repeat center/cover;
    @apply p-4 flex flex-col items-center;
    .header{
        @extend .header;
        font-size: 2.8rem;
        @media screen and (min-width: 560px){
            &{
                font-size: 4.5rem;
            }
        }
    }
    img{
        @apply size-9 sm:size-14 md:size-16;
    }
}

