@tailwind base;
@tailwind components;
@tailwind utilities;


/*#skill_div{
    margin-top: 3%;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3,minmax(10px,1fr));
    grid-template-columns: repeat(auto,minmax(10px,1fr));
    align-content: space-evenly;
    justify-content: space-evenly;
}*/

@media screen and (max-width: 500px){
    p,pre,h1{
        text-wrap: wrap;
    }

    #skill_div{
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(6,minmax(10px,1fr));
        grid-template-columns: repeat(auto,minmax(10px,1fr));
        align-content: space-between;
        justify-content: space-evenly;
    }

    #contact_card{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 450px) {
    #skill_div{
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(12,minmax(10px,1fr));
        grid-template-columns: repeat(auto,minmax(10px,1fr));
    }
}